<main class="container">
    <div class="movie-poster">
        <img src="{{movie?.imagem_url}}"
             alt="{{movie?.titulo}}"
             loading="lazy">
    </div>

    <div class="movie-details">
        <h1 class="movie-title">{{movie?.titulo}}</h1>

        <p class="movie-description">{{movie?.sinopse}}</p>

        <section class="details-section">
            <h2 class="details-title">Detalhes</h2>

            <div class="detail-item">
                <span class="detail-label">Diretor:</span>
                <span class="detail-value">{{movie?.diretor}}</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">Gênero:</span>
                <span class="detail-value">{{movie?.genero}}</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">Duração:</span>
                <span class="detail-value">{{movie?.duracao_minutos}} minutos</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Preco:</span>
                <span class="detail-value">{{movie?.preco_aluguel}} R$</span>
            </div>
        </section>

        <button class="rent-button" type="button" (click)="rentMovie()" #button>
            Alugar Agora
        </button>
    </div>
</main>
