<div class="modal-overlay"
     [class.active]="isVisible"
     (click)="onOverlayClick($event)">
  <div class="modal">
    <div class="modal-header">
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-row">
          <div class="form-group username">
            <label class="form-label" for="username">Usuário</label>
            <input type="text"
                   id="username"
                   formControlName="username"
                   class="form-input"
                   placeholder="Seu usuário">
          </div>

          <div class="form-group password">
            <label class="form-label" for="password">Senha</label>
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="form-input"
                   placeholder="Sua senha">
          </div>

          <div class="form-group password">
            <label class="form-label" for="password">Email</label>
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-input"
                   placeholder="Email">
          </div>

          <div class="form-group password">
            <label class="form-label" for="password">Email</label>
            <input type="cpf"
                   id="cpf"
                   formControlName="cpf"
                   class="form-input"
                   placeholder="CPF">
          </div>

          <div class="form-group phone">
            <label class="form-label" for="password">Telefone</label>
            <input type="text"
                   id="phone"
                   formControlName="phone"
                   class="form-input"
                   placeholder="Telefone">
          </div>

          <div class="form-group password">
            <label class="form-label" for="password">Data de nascimento</label>
            <input type="date"
                   id="dateOfBirth"
                   formControlName="dateOfBirth"
                   class="form-input"
                   placeholder="Data de nascimento">
          </div>
          <div class="form-group">
            <button type="submit"
                    [disabled]="!registerForm.valid"
                    class="submit-button">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
